{% extends "base.html" %}

{% block style_contents %}
<style>
  .navbar h1 a{
      color: darkblue;
      border-bottom: solid;
      padding-left: 10px;
      text-decoration: none;
  }
  .carousel-item img{
      height: 500px;
  }
  
  .footer h2{
      padding-bottom: 20px;
      border-bottom: solid;
  }
  .dropdown-menu{
      width: 200px;
  }
</style>
{% endblock %}


{% block contents %}
<div class="container">
  <div class="row text-center">
      <div class="offset-2 col-8 offset-2">
         <br>
          <div class="page-header mt-3">
               <h2>로그아웃</h2>
           </div>

           <p class="lead">로그아웃이 완료되었습니다.</p>
           <hr>

           <a href="/" role="button" class="btn btn-outline-secondary">메인으로 돌아가기</a>
      </div>
  </div>
   
</div>
{% endblock %}
